.header{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 10px 0;
  gap: 5px;
  font-weight: 600;
}
.logoQr{
  width: 20px;
  height: 20px;
}
.heartLogo{
  /* width: 20px;
  height: 20px; */
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 20px;
}