.cont{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.prices{
  background-color: transparent;
  border: var(--border-style);
  border-radius: 5px;
  padding: 5px 5px;
  width: fit-content;
  margin-top: 10px;
}
.prices button{
  background-color: white;
  color: black;
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
}
.textTitle{
  margin-bottom: 15px;
}
.title{
  background: linear-gradient(to bottom, rgb(255, 0, 255), white);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  background-clip: text;
  color: transparent;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 60px;
}
.detailsCont{
  display: flex;
  align-items: flex-end;
  gap: 10px;
  padding: 10px 0;
  flex-wrap: wrap;
}
.couplesName,
.startDate,
.musicLink,
.timer{
  display: flex;
  flex-direction: column;
  font-size: .9rem;

}
.couplesName input,
.startDate input,
.musicLink input,
.timer input{
  border: var(--border-style);
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  max-height: 40px;
  color: white;
}

.couplesName input{
  margin-right: 10px;
}
.startDate input{
  /* margin-right: 5px; */
  min-width: 175px;
}
.timer input{
  justify-content: end;
  align-items: end;
}
.startDate input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This inverts the color, making black icons appear white */
}

/* For time input clock icon */
.timer input::-webkit-calendar-picker-indicator {
  filter: invert(1); /* This also inverts the color, making black icons appear white */
}
.message{
  display: flex;
  flex-direction: column;
}
.message textarea{
  border: var(--border-style);
  background-color: transparent;
  border-radius: 5px;
  height: 13rem;
  outline: none;
  padding: 10px;
  color: white;
}
.cameraCont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn{
  padding: 15px 30px;
  /* background-color: transparent; */
  border: var(--border-style);
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(44, 44, 44);
  font-weight: 600;
}
.create{
  height: 70px;
  font-weight: 600;
  font-size: 2rem;
}
.filePicker{
  display: none;
}
.qrcode{
  width: 100%;
  height: auto;
  border: var(--border-style);
}
.qrcodePicture{
  width: 100%;
}

@media (max-width: 1000px){
  .cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}