.cont{
  /* border: 1px solid white; */
  max-width: 800px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 20px;
  color: #cfcfcf;
}
.cont h1{
  text-align: center;
  padding-bottom: 15px;
}
.cont p{
  font-size: 18px; 
  line-height: 1.3; 
  color: #c4c4c4; 
  letter-spacing: 0.5px; 
  margin-bottom: 15px; 
}
.section {
  display: block; /* Ensure normal block flow */
  padding: 15px 0;
}
.section h3{
  padding: 15px 0;
}
.title{
  font-size: 24px;
  color: #d4d4d4;
  font-weight: bold;
  margin: 15px 0;
}
.section p{
  font-size: 18px; /* Slightly larger font size for readability */
  line-height: 1.3; /* Increased line height for better spacing */
  color: #c4c4c4; /* Slightly lighter than black for comfort */
  letter-spacing: 0.5px; /* Adjusted letter spacing for readability */
  margin-bottom: 15px; /* Space between paragraphs */
}
.img {
  width: 300px;
  height: auto;
  margin-right: 30px; 
  padding: 10px 0;
}
.left{
  float: left;
}
.right{
  float: right;
}
.text {
  text-align: left;
  overflow: hidden; /* Clears float to ensure proper layout flow */
}
.explanation{
  margin-top: 100px;
}
.explanation h3{
  margin-bottom: 15px;
  text-align: center;
}
.description{
  white-space: pre-wrap; 
  word-wrap: break-word; 
  font-size: 1.1rem;
  line-height: 1.5;
  letter-spacing: normal;
  word-spacing: 1px;
}