.cont{
  /* border: var(--border-style); */
  margin: 100px 0;
}
.cont h2{
  text-align: center;
  padding: 10px 0;
  padding-bottom: 50px;
  font-size: 2rem;
}
.cardCont{
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
.card{
  /* border: var(--border-style); */
  width: 18rem;
  height: 18rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-weight: 600;
  font-size: 1.2rem;
  /* box-shadow: 0px 0px 10px rgba(244, 244, 244, 0.6);  */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(90, 90, 90, 0.5));
  position: relative;
  border: 1px solid rgb(54, 54, 54);
}
.cardIcon{
  width: 200px;
  height: 200px;
}
.formIcon{
  top: 10px;
  border-radius: 5px;
  transform: perspective(300px) rotateX(15deg);
  box-shadow: 0 0 20px rgba(255, 0, 255, 1);
  margin-top: -20px;
  margin-bottom: 20px;
}